
.rodape__pedir--inativo, .rodape__pedir--ativo{
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 400;

    color: var(--cor-fonte-titulo);
    background-color: var(--background-botao-inativo);

    border-radius: 5rem;
    border: none;

    padding: 0 8rem;
    height: 100%;
    width: 36.4rem;
}

.rodape__pedir--ativo{
    background-color: var(--borda-card-selecao);
    cursor: pointer;
}