
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-card);

    padding: 1.5rem 2.5rem;

    height: 9.2rem;
    width: 100%;

    z-index: 1;
    position: sticky;
    bottom: 0;
}